Assignment9/Kafka/Nifi_flow/E-commerce.json
{"flowContents":{"identifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936","instanceIdentifier":"2641248f-019e-1000-997e-b4d039917e06","name":"E-commerce","comments":"","position":{"x":-117.5,"y":-44.388893127441406},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3a52de8c-d4b8-343f-be9d-8b868d377c78","instanceIdentifier":"9191df24-85e2-347c-8af1-4d34e02cede7","name":"ConsumeKafka_2_6","comments":"","position":{"x":504.0,"y":800.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M4"},"properties":{"header-name-regex":null,"Commit Offsets":"true","sasl.username":null,"max.poll.records":"10000","group.id":"nifi_hdfs_group","bootstrap.servers":"kafka:29092","topic_type":"names","aws.profile.name":null,"sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","sasl.token.auth":"false","honor-transactions":"true","Communications Timeout":"60 secs","topic":"ecommerce_orders","separate-by-key":"false","kerberos-user-service":null,"message-header-encoding":"UTF-8","message-demarcator":null,"key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"ad4316aa-71b8-3911-b9db-a5d41c04f403","instanceIdentifier":"9c8fa62a-1b9a-3a16-b930-1b80298b1a85","name":"UpdateAttribute","comments":"","position":{"x":1200.0,"y":800.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"hdfs.path":"/data/year=${now():format('yyyy')}/month=${now():format('MM')}/day=${now():format('dd')}","Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"hdfs.path":{"name":"hdfs.path","displayName":"hdfs.path","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"256eb54b-019e-1000-2db6-a906022c6772","instanceIdentifier":"7a48ee78-8cd6-3b1b-18ee-e130fcf189d7","name":"LogAttribute","comments":"","position":{"x":-952.0,"y":184.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"7920022c-71d9-3b51-bb43-ac7072090e87","instanceIdentifier":"ddb714a7-5b0d-3811-57c8-03a60d4a5ac9","name":"SegmentContent","comments":"","position":{"x":-280.0,"y":360.0},"type":"org.apache.nifi.processors.standard.SegmentContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Segment Size":"64 KB"},"propertyDescriptors":{"Segment Size":{"name":"Segment Size","displayName":"Segment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"8c86afac-337c-3771-a76d-d9cc9d52b7b6","instanceIdentifier":"38b3b835-e566-343c-b637-5eb15567f54d","name":"PutHDFS","comments":"","position":{"x":1888.0,"y":792.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.9.0"},"properties":{"Hadoop Configuration Resources":"/opt/nifi/nifi-current/hadoop-conf/core-site.xml,/opt/nifi/nifi-current/hadoop-conf/hdfs-site.xml","Remote Owner":null,"Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"/data/year=${now():format('yyyy')}/month=${now():format('MM')}/day=${now():format('dd')}","Conflict Resolution Strategy":"append"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"049fd2b9-bf4a-3f70-8f27-25968ca16b39","instanceIdentifier":"34b37d02-9bad-36d2-a85f-995de2cec515","name":"LogAttribute","comments":"","position":{"x":-944.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"25ce224e-019e-1000-aa26-6a31636b09c6","instanceIdentifier":"334f1814-050e-3045-dc5b-50f6674bf047","name":"LogAttribute","comments":"","position":{"x":1200.0,"y":464.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"6fbe2709-50b4-3cba-b051-bf5f54c21390","instanceIdentifier":"f4a1f04b-ecd1-34e4-a8a9-f6f9ab4fd0aa","name":"LogAttribute","comments":"","position":{"x":2560.0,"y":792.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"e8acf9cc-dd81-3064-940f-70e8d76f8723","instanceIdentifier":"a626f2b8-97b2-3afc-2c47-205cbb0f2736","name":"UpdateAttribute","comments":"","position":{"x":392.0,"y":-320.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}.part.${fragment.index}","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"d4db085f-d43c-363a-95e2-36c09a438f6d","instanceIdentifier":"abb5fd3b-2ede-3ea1-9642-e204cea7d8e6","name":"LogAttribute","comments":"","position":{"x":1192.0,"y":264.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"205bd712-1d04-348c-abe2-722c65056cda","instanceIdentifier":"b83f4097-1787-3278-22b5-657c69ae85d4","name":"LogAttribute","comments":"","position":{"x":1040.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"256eb4ad-019e-1000-4879-def5231cc873","instanceIdentifier":"9d5be297-76c8-3ffd-2579-a48da3b461f9","name":"LogAttribute","comments":"","position":{"x":-952.0,"y":360.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"100f322c-5490-376f-b581-99db22f39b64","instanceIdentifier":"b344cc9b-7e2e-38ec-d2fe-30f2be0c7840","name":"ListFile","comments":"","position":{"x":-280.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Minimum File Age":"0 sec","Entity Tracking Initial Listing Target":"all","Maximum File Age":null,"Track Performance":"false","Entity Tracking State Cache":null,"Maximum File Size":null,"Max Disk Operation Time":"10 secs","Max Directory Listing Time":"3 mins","Recurse Subdirectories":"true","File Filter":".*\\.csv","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","Target System Timestamp Precision":"auto-detect","Input Directory":"/opt/nifi/nifi-current/ecommerce_data","Entity Tracking Node Identifier":"${hostname()}","Record Writer":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Listing Strategy":"timestamps","Entity Tracking Time Window":"3 hours","Maximum Number of Files to Track":"100000"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Track Performance":{"name":"Track Performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Disk Operation Time":{"name":"Max Disk Operation Time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Directory Listing Time":{"name":"Max Directory Listing Time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Target System Timestamp Precision":{"name":"Target System Timestamp Precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Node Identifier":{"name":"Entity Tracking Node Identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Files to Track":{"name":"Maximum Number of Files to Track","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"fb7bf9a9-a901-3499-9de8-6c00ef7ac28e","instanceIdentifier":"3870aafd-a979-3ced-043e-4a83564b77a4","name":"FetchFile","comments":"","position":{"x":-280.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Move Conflict Strategy":"Rename","Move Destination Directory":null,"File not Found Log Level":"ERROR","Permission Denied Log Level":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"Delete File"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File not Found Log Level":{"name":"File not Found Log Level","displayName":"File not Found Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permission Denied Log Level":{"name":"Permission Denied Log Level","displayName":"Permission Denied Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"126e1ffa-482c-3aff-afc8-d661a20ff652","instanceIdentifier":"445d3aec-7d01-3e37-8b5f-8a9907bea91c","name":"PublishKafka_2_6","comments":"","position":{"x":392.0,"y":368.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M4"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"kafka:29092","sasl.kerberos.service.name":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"ecommerce_orders","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"69ef1705-55f0-3bfe-89ce-df6f1ec6d527","instanceIdentifier":"f7ab20e0-ea7a-3300-fb1c-804284f1746e","name":"QueryRecord","comments":"","position":{"x":392.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Default Decimal Scale":"0","Record Writer":"4ab0eda4-2289-3cbf-8cd1-8840606fcd81","Record Reader":"0d4dbf5c-47b2-3127-8357-46ad590cc338","Default Decimal Precision":"10","transformed_data":"SELECT \n  order_id AS transaction_id, \n  customer_id, \n  CAST(\n    CASE \n      WHEN price = 'FREE' THEN '0' \n      WHEN price LIKE 'ERROR%' THEN NULL \n      ELSE price \n    END AS DOUBLE\n  ) AS amount \nFROM FLOWFILE \nWHERE order_id IS NOT NULL \n  AND order_id <> 'order_id'\n  AND price IS NOT NULL"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"transformed_data":{"name":"transformed_data","displayName":"transformed_data","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5094dafa-cd11-3c41-9185-a0aee8cba152","instanceIdentifier":"3939e199-4700-3984-dafa-1da892c53fbf","name":"","source":{"id":"e8acf9cc-dd81-3064-940f-70e8d76f8723","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"UpdateAttribute","comments":"","instanceIdentifier":"a626f2b8-97b2-3afc-2c47-205cbb0f2736"},"destination":{"id":"69ef1705-55f0-3bfe-89ce-df6f1ec6d527","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"QueryRecord","comments":"","instanceIdentifier":"f7ab20e0-ea7a-3300-fb1c-804284f1746e"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"41972571-2e4f-32e4-8f9d-a87241e18277","instanceIdentifier":"442a809c-0789-3aab-b9da-c950119f4cdc","name":"","source":{"id":"fb7bf9a9-a901-3499-9de8-6c00ef7ac28e","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"FetchFile","comments":"","instanceIdentifier":"3870aafd-a979-3ced-043e-4a83564b77a4"},"destination":{"id":"256eb4ad-019e-1000-4879-def5231cc873","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"LogAttribute","comments":"","instanceIdentifier":"9d5be297-76c8-3ffd-2579-a48da3b461f9"},"labelIndex":0,"zIndex":6,"selectedRelationships":["permission.denied"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"12af5c1d-4a35-39ba-844a-69cf2895194f","instanceIdentifier":"e8e03122-b6b3-3af1-dbba-b20692a025b1","name":"","source":{"id":"69ef1705-55f0-3bfe-89ce-df6f1ec6d527","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"QueryRecord","comments":"","instanceIdentifier":"f7ab20e0-ea7a-3300-fb1c-804284f1746e"},"destination":{"id":"205bd712-1d04-348c-abe2-722c65056cda","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"LogAttribute","comments":"","instanceIdentifier":"b83f4097-1787-3278-22b5-657c69ae85d4"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"0014866b-f7fb-32d0-beb8-050e085862c8","instanceIdentifier":"f04c6bfd-305e-372d-26ea-e05fb4b9c2a7","name":"","source":{"id":"8c86afac-337c-3771-a76d-d9cc9d52b7b6","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"PutHDFS","comments":"","instanceIdentifier":"38b3b835-e566-343c-b637-5eb15567f54d"},"destination":{"id":"6fbe2709-50b4-3cba-b051-bf5f54c21390","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"LogAttribute","comments":"","instanceIdentifier":"f4a1f04b-ecd1-34e4-a8a9-f6f9ab4fd0aa"},"labelIndex":0,"zIndex":19,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"bf9d8609-0768-30c0-a972-2fc2ee507a59","instanceIdentifier":"61f4fc58-6f21-3810-a6b4-b28421e8cc72","name":"","source":{"id":"fb7bf9a9-a901-3499-9de8-6c00ef7ac28e","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"FetchFile","comments":"","instanceIdentifier":"3870aafd-a979-3ced-043e-4a83564b77a4"},"destination":{"id":"049fd2b9-bf4a-3f70-8f27-25968ca16b39","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"LogAttribute","comments":"","instanceIdentifier":"34b37d02-9bad-36d2-a85f-995de2cec515"},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"dba4e02f-3d73-307a-a1e3-6e4699337ec3","instanceIdentifier":"2c20d98c-d244-3e23-0883-3ce6885b9fe9","name":"","source":{"id":"69ef1705-55f0-3bfe-89ce-df6f1ec6d527","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"QueryRecord","comments":"","instanceIdentifier":"f7ab20e0-ea7a-3300-fb1c-804284f1746e"},"destination":{"id":"126e1ffa-482c-3aff-afc8-d661a20ff652","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"445d3aec-7d01-3e37-8b5f-8a9907bea91c"},"labelIndex":0,"zIndex":14,"selectedRelationships":["transformed_data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"9bd8411a-ee6f-3972-a0a0-6a31753dfd6a","instanceIdentifier":"b4da5374-4228-387a-ea81-261b2df74cd2","name":"","source":{"id":"3a52de8c-d4b8-343f-be9d-8b868d377c78","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"ConsumeKafka_2_6","comments":"","instanceIdentifier":"9191df24-85e2-347c-8af1-4d34e02cede7"},"destination":{"id":"ad4316aa-71b8-3911-b9db-a5d41c04f403","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"UpdateAttribute","comments":"","instanceIdentifier":"9c8fa62a-1b9a-3a16-b930-1b80298b1a85"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"aa4b06c0-d9fd-370b-be76-0a791db5fea6","instanceIdentifier":"1f6c143f-19f6-3a1a-78d9-8544cce70dec","name":"","source":{"id":"7920022c-71d9-3b51-bb43-ac7072090e87","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"SegmentContent","comments":"","instanceIdentifier":"ddb714a7-5b0d-3811-57c8-03a60d4a5ac9"},"destination":{"id":"e8acf9cc-dd81-3064-940f-70e8d76f8723","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"UpdateAttribute","comments":"","instanceIdentifier":"a626f2b8-97b2-3afc-2c47-205cbb0f2736"},"labelIndex":0,"zIndex":7,"selectedRelationships":["segments"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"fb97a3fd-8261-3f7b-b39b-8871f2664052","instanceIdentifier":"3eb6b316-c8dc-3ce3-c90a-c35550c221d0","name":"","source":{"id":"126e1ffa-482c-3aff-afc8-d661a20ff652","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"445d3aec-7d01-3e37-8b5f-8a9907bea91c"},"destination":{"id":"25ce224e-019e-1000-aa26-6a31636b09c6","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"LogAttribute","comments":"","instanceIdentifier":"334f1814-050e-3045-dc5b-50f6674bf047"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"44910e21-faf0-30ec-bb9c-d42bb8ebe1bb","instanceIdentifier":"cb6f649e-599e-3311-e592-b6b095d0b0d7","name":"","source":{"id":"fb7bf9a9-a901-3499-9de8-6c00ef7ac28e","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"FetchFile","comments":"","instanceIdentifier":"3870aafd-a979-3ced-043e-4a83564b77a4"},"destination":{"id":"7920022c-71d9-3b51-bb43-ac7072090e87","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"SegmentContent","comments":"","instanceIdentifier":"ddb714a7-5b0d-3811-57c8-03a60d4a5ac9"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"54bcfb16-1b2b-3b77-9d55-2c8e937e8a46","instanceIdentifier":"5a3e6875-9178-3c65-8530-4f29e3457dbf","name":"","source":{"id":"fb7bf9a9-a901-3499-9de8-6c00ef7ac28e","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"FetchFile","comments":"","instanceIdentifier":"3870aafd-a979-3ced-043e-4a83564b77a4"},"destination":{"id":"256eb54b-019e-1000-2db6-a906022c6772","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"LogAttribute","comments":"","instanceIdentifier":"7a48ee78-8cd6-3b1b-18ee-e130fcf189d7"},"labelIndex":0,"zIndex":3,"selectedRelationships":["not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"09bed3cc-128c-33e5-8d73-6d4aac14d04d","instanceIdentifier":"6dbdf339-0bd2-35bb-214a-fc56da806e03","name":"","source":{"id":"100f322c-5490-376f-b581-99db22f39b64","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"ListFile","comments":"","instanceIdentifier":"b344cc9b-7e2e-38ec-d2fe-30f2be0c7840"},"destination":{"id":"fb7bf9a9-a901-3499-9de8-6c00ef7ac28e","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"FetchFile","comments":"","instanceIdentifier":"3870aafd-a979-3ced-043e-4a83564b77a4"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"500 MB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"ea731cb3-0017-320b-ae65-a09f6d78e2e0","instanceIdentifier":"53c5274f-70c8-37a8-af5a-00434cf2f1d1","name":"","source":{"id":"ad4316aa-71b8-3911-b9db-a5d41c04f403","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"UpdateAttribute","comments":"","instanceIdentifier":"9c8fa62a-1b9a-3a16-b930-1b80298b1a85"},"destination":{"id":"8c86afac-337c-3771-a76d-d9cc9d52b7b6","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"PutHDFS","comments":"","instanceIdentifier":"38b3b835-e566-343c-b637-5eb15567f54d"},"labelIndex":0,"zIndex":18,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"3bfa0b14-2a71-38c7-a44c-80c576586ed7","instanceIdentifier":"2de04164-fc47-3eaf-dd95-aa62e7f7e43d","name":"","source":{"id":"126e1ffa-482c-3aff-afc8-d661a20ff652","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"445d3aec-7d01-3e37-8b5f-8a9907bea91c"},"destination":{"id":"d4db085f-d43c-363a-95e2-36c09a438f6d","type":"PROCESSOR","groupId":"13c75a6f-c56d-30ae-a392-8a61c39e1936","name":"LogAttribute","comments":"","instanceIdentifier":"abb5fd3b-2ede-3ea1-9642-e204cea7d8e6"},"labelIndex":0,"zIndex":15,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0d4dbf5c-47b2-3127-8357-46ad590cc338","instanceIdentifier":"51381e2d-da25-3f8a-5d64-e428f2f0573b","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"{\n  \"type\": \"record\",\n  \"name\": \"EcommerceOrder\",\n  \"fields\": [\n    {\"name\": \"order_id\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"timestamp\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"customer_id\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"product_name\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"category\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"price\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"quantity\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"payment_method\", \"type\": [\"null\", \"string\"]}\n  ]\n}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Treat First Line as Header":"true","Schema Access Strategy":"schema-text-property","Ignore CSV Header Column Names":"true","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"},{"identifier":"4ab0eda4-2289-3cbf-8cd1-8840606fcd81","instanceIdentifier":"8d133ce2-204c-319e-c1c0-9a36c8076d0e","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"13c75a6f-c56d-30ae-a392-8a61c39e1936"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}